* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.maincontainer {
    width: 800px;
    height: 800px;
    background-color: crimson;
    margin: 0 auto;
    margin-top: 10px;
}

.binder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;

}

.block {
    width: 150px;
    height: 150px;
    background-color: yellow;
    margin: 10px;
    flex: none;


}

.parent {
    margin-top: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.block4{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin:10px;
    position: relative;

}
.smallblock1{
    width: 50px;
    height: 50px;
    background-color: lime;
    position: absolute;
    margin: 10px;
    top: 0;
    left: 0;
}
.smallblock2{
    width: 50px;
    height: 50px;
    background-color: lime;
    position: absolute;
    margin:10px;
    bottom: 0;
    right: 0;
}
.block5{
    width: 150px;
    height: 150px;
    background-color: yellow;
    margin: 10px;
    margin-top: 160px;

}